
@{ ViewData["Title"] = "Subscribe"; }
@section scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <script>

        function loadPlans() {
            var tableBody = $('#plans');
            $.ajax({
                url: '/api/subscriptions/plans',
                dataType: 'json',
                success: function (data) {
                    $('#status').hide();
                    $('#plans-table').show();
                    for (var i = 0; i < data.length; i++) {
                        var tableRow = '<tr>';
                        tableRow += '<td>' + data[i].name + '</td>';
                        tableRow += '<td>' + data[i].description + '</td>';
                        tableRow += '<td>$' + data[i].price / 100 + '</td>';
                        tableRow += '<td><button onclick=\"subscribe(\'' + data[i].priceId + '\', \'' + data[i].name + '\')\">Subscribe</button>' + '</td>';
                        tableRow += '<tr />'
                        tableBody.append(tableRow);
                    }
                },
                error: function (result) {
                    $('#status').html('<img src="/ajax-loader.gif" /> Failed to load plans, retrying...');
                    setTimeout(loadPlans, 3000);
                }
            });
        }
        function subscribeRequest(priceId) {
            $.ajax({
                url: '/api/subscriptions/subscribe',
                type: 'post',
                data: { "price_id": priceId },
                success: function (data) {
                    $('#subscription-request-status').html(data.message + ' View your invoice <a href=\"' + data.url + '\" target=\"_blank\">here</a>.');
                },
                error: function (xhr, err, data) {
                    if (xhr.status == 0) {
                        $('#subscription-request-status').html('<img src="/ajax-loader.gif" /> Could not reach server. Trying again...');
                        setTimeout(function () {
                            subscribeRequest(priceId);
                        }, 3000);
                    } else {
                        $('#subscription-request-status').html('Error. ' + xhr.responseJSON.message);
                    }
                }
            });
        }
        function subscribe(priceId, planName) {
            $('#subscription-process-info').show();
            $('#plan-header').text('Subscribing to ' + planName);
            $('#subscription-request-status').html('<img src="/ajax-loader.gif" /> Subscribing...');
            subscribeRequest(priceId);
        }
        $('document').ready(function () {
            $('#status').html('<img src="/ajax-loader.gif" /> Loading plans...');
            loadPlans();
            
        });

    </script>

}
<style>
    td, th {
        padding: 10px 15px;
    }

    #plans-table {
        display: none;
    }

    tr, th, tbody, td, #plans-table {
        border: 1px solid;
    }

    #subscription-process-info {
        display: none;
    }
</style>


<h1>Available plans</h1>
<br />
<div id="status"></div>
<div>
    <table id="plans-table">
        <thead>
            <tr>
                <th>Plan name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="plans">
        </tbody>
    </table>
</div>
<br />
<div id="subscription-process-info">
    <h2 id="plan-header"></h2>
    <div id="subscription-request-status"></div>
</div>

